/* #abstract .container{
  margin-top:6rem;
} */


/* registraction */

.breadcrumb-item.breadcrumb-item::before {
  color: #fff;
}

body {
  color: #555;
  font-weight: 400;
  background-color: #f8f9fa !important;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
  font-size: 15px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

hr {
  border: 0;
  border-bottom: 1px dashed #333;
  background: #fff;
  width: 90%;
  margin: 0px auto;
  padding: 0px;
}

.wrapper {
  display: flex;
  /* justify-content:space-around; */
}

.sidebar {
  width: 320px !important;
  /* height: 25vh; */
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  margin-top: 45px !important;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/images/carousel-1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  color: white;
}

.total-cart-amount {
  background-color: #0066c0;

}

.checkout-btn {
  background-color: #0066c0;
}

.cart-main-text {
  color: #0066c0;
  border-color: #428bca !important;
}

.cart-text {
  color: #428bca;
  border-color: #428bca !important;
}

.price-hover {
  border: 2px solid #428bca !important;
  border-radius: 5px;
  background-color: #428bca;

}

.pricing .card-body {
  background-color: #428bca;
  color: #fff;
  text-align: center;
}

.btn-outline-danger {
  color: #a94442;
  margin-right: 15px;
  float: right;
}

.accommodation-card .card-header {
  color: #a94442;
  background-color: #f2dede;
  border-bottom: 1px solid transparent;
}

.accommodation-card h4 {
  font-family: inherit;
}

.accommodation-card-date {
  color: #999;
}

.accommodation-card p {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  font-size: 13px;
}

.card-body {
  background-color: white;
  color: #555555;
}

.accommodation-card-text {
  font-family: "Open Sans", sans-serif;
}

.input-group-addon {
  color: #555;
  background-color: #eee;
  border: 1px solid #ccc;
}

.extra-nights-box {
  background: #19546b;
  color: #fff;
}

.have_promocode {
  background: #19546b;
  color: #fff;
}

.payment-container .innertext {
  font-family: "Open Sans", sans-serif;
}

.payment-container .price {
  background-color: #fff;
}

.register-includes {
  background-color: #eee;
}

.accommodation-includes .heading {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

.accommodation-includes .inner-text {
  color: #54805c;
  line-height: 26px;

}

.register-cancel {
  background-color: #eee;
}

#price-card {
  border: 1px solid #428bca !important;
}

#acc-card {
  border: 1px solid #ebccd1 !important;

}

#billing-card {
  border: 1px solid #ebccd1 !important;

}

#footer {
  background-color: #0d0d0d !important;
  color: #999;
}

#footer h3 {
  border-left: 5px solid green;
}

a {
  color: #999;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed !important;
}

/* .add-to-cart-list{
      width: 325px;

} */

.container {
  margin-top: 56px;
}

@media (max-width:2560px) and (min-width:1790px) {
  .sidebar {
    padding-left: 50px !important;
    /* width: 525px; */
  }

  .pricing-start {
    margin-left: 350px !important;
  }

  .accommodation-start {
    margin-left: 350px !important;
  }

  .extra-nights-box-start {
    margin-left: 350px !important;
  }

  .accommodation_extrabox {
    margin-left: 350px !important;
  }

  .promocode-start {
    margin-left: 340px !important;
  }
}

@media (max-width:768px) {
  .banner {
    width: 890px !important;
  }
}

@media (max-width:889px) {
  .banner {
    width: 890px !important;
  }

}

@media (max-width:1024px) and (min-width:890px) {
  .banner {
    width: 1090px !important;
  }

  .pricing-start {
    margin-left: 50px !important;
  }

  .accommodation-start {
    margin-left: 50px !important;
  }

  .extra-nights-box-start {
    margin-left: 50px !important;
  }

  .accommodation_extrabox {
    margin-left: 50px !important;
  }

  .promocode-start {
    margin-left: 40px !important;
  }

  .pricing {
    margin-right: 60px !important;
  }

  .pricing .card {
    width: 18rem !important;
  }
}

@media (max-width:560px) {
  .banner {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/carousel-1.jpg");
      /* background-position: left; 
      background-repeat: no-repeat;
      background-size: cover;
      position:relative; */
    width: 570px !important;
  }

  .cart-main-text {
    width: 201px !important;
    padding-bottom: 5px !important;
  }

  #add-to-cart-number {
    margin-bottom: 10px;
  }
}

@media (width:735px) {
  .lb-interested-in {
    width: auto;
  }
}

@media (max-width:1008px) {
  .pricing {
    margin-right: 30px !important;
  }
}

@media (max-width: 576px) {
  .control-label {
    text-align: left !important;
  }

  .input-group-addon {
    margin: 0px !important;
  }

  .billing-card {
    padding-right: 0px !important;
  }

  .pricing {
    margin-left: 55px !important;
  }

  #ead_checkbox {
    width: 320px !important;
  }

  .add-to-cart-total span {
    margin-right: 0px !important;
    width: 5px !important;
    height: 5px !important
  }

  .add-to-cart-total div {
    width: 20px !important;
  }
}

@media (min-width: 100px) and (max-width:610px) {
  .input-group-addon {
    padding: 5px !important;
    margin-right: 5px !important;
  }

  .accommodation-card-text {
    margin-right: 0px !important;
  }

  .accommodation-card-form-check {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 20px !important;
  }
}

@media (max-width:300px) {
  #extra_accommodation_fields {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width:750px) {
  .promo-btn {
    margin-left: 60px;
    border-radius: 2px;
  }

  .btn-promo {
    align-items: center !important;
    /* padding-left: 10px !important; */
    margin-left: 8px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .sidebar {
    padding: 0px !important;
  }

  .promo-input {
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin-left: 0px !important;
    border-right: 1px solid;
  }

  .add-to-cart-list .list-group-item {
    padding-left: 0px;

  }

  .add-to-cart-item .fw-lighter {
    margin-left: 10px;
  }

  .add-to-cart-promo {
    padding-left: 5px !important;
  }

  .add-to-cart-promo p {
    padding-top: 0px !important;
    padding-left: 5px;
    padding-right: 0px;
  }

  .add-to-cart-total {
    padding-right: 0px;
    padding-left: 5px !important;
  }

  .add-to-cart-total p {
    padding-top: 0px !important;
  }

  .add-to-cart-total .col {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pricing-midterm {
    margin-left: 35px;
  }

  .pricing-onspot {
    margin-left: 45px;
  }
}

/* Login */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Login End */